<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/wheel.css">
    <link rel="stylesheet" href="../css/load.css">
    <title>UY TÍN</title>
</head>
<body>
    <main>
        <div class="main-wheel">
            <div class="icon-arrow">
                <img src="../img/arrow.png" alt="arrow"/> 
            </div>
            <ul class="wheel"></ul>
        </div>
        <div>
            <button class="btn-start">Nhận quà thoi</button>
        </div>
        <h1 class="msg"></h1>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="../js/main.js"></script>
    <script src="/js/myJs.js"></script>
</body>
</html>